/* TODO - Needs improvement, better class usage, better implementation of FontAwesome icons etc. */

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 200;
    src: url(../assets/Montserrat.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {
font-family: "FontAwesome";
font-weight: normal;
font-style : normal;
src: url(../node_modules/font-awesome/fonts/fontawesome-webfont.woff2) format('woff2');
}

:root{
    --dayjobGreen: #1CD760;
    --dayjobWhiteText: #eeeeee;
    --dayjobGreyText: #8f8f8f;
    --dayjobWarning:  rgb(221, 96, 23);
    --dayjobError:  red;
}

body {
    font-family: 'Montserrat', sans-serif;
    background: #272727;
    padding: 32px; /*Border around window*/
    margin: 0;
    text-align: center;
    color: var(--dayjobWhiteText);
    overflow: hidden;
    font-size: 85%;
    /* -webkit-user-select: none; */
}

a {
    /*Link appearance*/
    color: var(--dayjobGreyText);
}

h1{
    -webkit-margin-after: 0.0em;
    color: var(--dayjobWhiteText);
}

h3{
    -webkit-margin-before: 0.5em;
}

h4{
    -webkit-margin-after: 0.0em;
}

h5 {
    -webkit-margin-before: 0.5em;
    -webkit-margin-after: 0.0em;
    color: var(--dayjobGreyText);
}

.statusUpdate{
    margin-top:  5px
}

#list {
    color: var(--dayjobGreyText);
}

#dayjobcolour {
    color: var(--dayjobGreen);
}

#dayjoblogo {
    position: absolute;
    left: 10px;
    top: 7px;
    font-size: 135%;
}

#warning:before{
    font-family: 'FontAwesome';
    font-size: 115%;
    color: var(--dayjobWarning);
    content: "\f071";
    margin-right: 5px;
}

#error:before{
    font-family: 'FontAwesome';
    font-size: 115%;
    color: var(--dayjobError);
    content: "\f06a";
    margin-right: 5px;
}


#buttonCta {
    background-color: var(--dayjobGreen);
    border: none;
    color: var(--dayjobWhiteText);
    padding: 5px 20px;
    font-size: 120%;
    font-weight: bolder;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
}

#actionAdd:before{
    font-family: 'FontAwesome';
    font-size: 115%;
    color: var(--dayjobGreen);
    content: "\f055";
    margin-right: 5px;
}

#actionRemove:before{
    font-family: 'FontAwesome';
    font-size: 115%;
    color: var(--dayjobGreen);
    content: "\f056";
    margin-right: 5px;
}

#actionWarning:before{
    font-family: 'FontAwesome';
    font-size: 115%;
    color: var(--dayjobWarning);
    content: "\f071";
    margin-right: 5px;
}

#actionError:before{
    font-family: 'FontAwesome';
    font-size: 115%;
    color: var(--dayjobError);
    content: "\f06a";
    margin-right: 5px;
}
